* {
  padding: 0;
  margin: 0;
  border-box: 0;
}

body {
  background-image: url("assets/images/easy/castle.png");
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.header {
  font-family: 'Fredoka One', cursive;
  text-align: left;
}

.row {
  text-align: center;
}

.hero-image {
  margin-top: 50px;
}

.hero-text {
  text-align: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Fredoka One', cursive;
  font-weight: 500;
  margin-top: 110px;
}

.full-game {
  font-family: 'Fredoka One', cursive;
}

.memory-game {
  width: 65%;
  height: 480px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  background-image: url("assets/images/easy/brick.png");
}
