* {
  padding: 0;
  margin: 0;
  border-box: 0;
}

body {
  background-image: url("assets/images/easy/castle.png");
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.header {
  font-family: 'Fredoka One', cursive;
  text-align: left;
}

.row {
  text-align: center;
}

.form {
  margin-top: 40px;
  background-color: #5f38a6;
}

.hero-image {
  margin-top: 50px;
}

.full-game {
  font-family: 'Fredoka One', cursive;
}